.main-content {
    margin-top: 30px;
}
.btn {
    margin-top: 15px;
}
.msg {
    max-width: 80%;
    margin-bottom: 10px;
    padding: 5px 10px 7px 10px;
    border-radius: 15px;
    list-style: none;
}
.other-msg {
    color: black;
    background-color: rgb(240,240,240);
    float: left;
}
.own-msg {
    color: white;
    background-color: rgb(64,128,255);
    float: right;
}
.float-right {
    float: right;
}
#messages {
    padding: 20px 20px 0 20px;
}
.name {
    padding-left: 5px;
    color: rgb(150,150,150);
}
#users {
    list-style: none;
    padding-left: 0;
}
#tipping {
    margin-bottom: 20px;
}
.btn-room {
    width: 100%;
}
.rooms {
    margin-bottom: 20px;
}
.msg-container {
    height: 400px;
    overflow: scroll;
}